## .NET Build artifacts
**/bin/
**/obj/
*.user
.vs/

## Publish output
**/publish/

## Local tool installs
.tools/

## Test & coverage output
**/TestResults/

## NuGet
*.nupkg
*.snupkg

## Rider / VS / VSCode
.idea/
*.suo
*.DotSettings
.vscode/

## OS
.DS_Store
Thumbs.db
